CASE_DIR=/glade/work/afoster/TRENDY/cases
CASE_NAME=TRENDY2025_ADspinup
SRC_DIR=/glade/work/afoster/TRENDY/CTSM_TRENDY
STOP_N=20
RESUBMIT=17
COMPSET=I1850Clm60BgcCropCru
RES=f09_g17
USER_NL_DIR=/glade/work/afoster/TRENDY/trendyclm/user_mods
PROJECT=P08010000
USER_NL_CLM_FILE=user_nl_clm_spinup
USER_NL_DATM_FILE=user_nl_datm_streams
OUT_DIR=/glade/derecho/scratch/afoster/TRENDY2025
RUN_TYPE="AD_spinup"
