CASE_DIR=/glade/work/afoster/TRENDY/cases
CASE_NAME=TRENDY2025_S3
SRC_DIR=/glade/work/afoster/TRENDY/CTSM_TRENDY
STOP_N=50
RESUBMIT=2
COMPSET=HIST_DATM%CRUv7_CLM60%BGC-CROP_SICE_SOCN_MOSART_CISM2%NOEVOLVE_SWAV
RES=f09_g17
USER_NL_DIR=/glade/work/afoster/TRENDY/trendyclm/user_mods
PROJECT=P08010000
USER_NL_CLM_FILE=user_nl_clm_S3.1700-1849
USER_NL_DATM_FILE=user_nl_datm_streams_S3.1700-1849
OUT_DIR=/glade/derecho/scratch/afoster/TRENDY2025
RUN_TYPE="S3"
